// $primary: rgb(25, 179, 115);
$primary: yellow;
$danger: deeppink;

@import "~bootstrap/scss/bootstrap";


body {
  background-color: rgb(0, 46, 68);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #fff;
}